.logo_container {
  font-size: calc(32rem / 16);
  line-height: 125%;
  color: var(--color_5);
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {}
@media (min-width: 768px) {
  .logo_container {
    font-size: calc(40rem / 16);
  }
}
@media (min-width: 1440px) {}
