.main_game_container {
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {}
@media (min-width: 768px) {
  .main_game_container {
    padding: calc(38rem / 16);
  }
}
@media (min-width: 1440px) {}