.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(10rem / 16) calc(18rem / 16);
  font-size: calc(16rem / 16);
  font-weight: bold;
  line-height: 125%;
  color: var(--color_3);
  background-color: var(--color_10);
  border-radius: 26px;
  border: 0;
  cursor: pointer;
}

.button_container:hover {
  background-color: var(--color_11);
}
