.info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(40rem / 16);
  width: 100%;
  background-color: var(--color_3);
  border-radius: 10px;
  padding: calc(24rem / 16);
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(24rem / 16);
  width: 100%;
}

.setting_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(8rem / 16);
  width: 100%;
}

.setting_box_header {
  font-size: calc(15rem / 16);
  line-height: 125%;
  color: var(--color_7);
  width: 100%;
}

.single_setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: calc(8rem / 16);
  width: 100%;
}

.setting_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(11rem / 16) calc(26rem / 16);
  border-radius: 26px;
  color: var(--color_3);
  font-size: calc(16rem / 16);
  font-weight: bold;
  border: 0;
  cursor: pointer;
  width: 100%;
}

.setting_grid_button {
}

.active_file {
  background-color: var(--color_6);
}
.inactive_file {
  background-color: var(--color_8);
}

.inactive_file:hover {
  background-color: var(--color_12);
}
.setting_theme_button {
  width: 50%;
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
  .info_container {
    padding: calc(12rem / 16);
    gap: calc(12rem / 16);
  }

  .setting {
    gap: calc(12rem / 16);
  }
}

@media (min-width: 768px) {
  .info_container {
    width: calc(654rem / 16);
  }
  .setting_box_header {
    font-size: calc(20rem / 16);
  }
  .single_setting {
    gap: calc(32rem / 16);
  }
  .setting_box {
    gap: calc(16rem / 16);
  }
  .setting_button {
    padding: calc(11rem / 16) calc(26rem / 16);
    font-size: calc(26rem / 16);
  }
}
