.game_board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(80rem / 16);
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
  .game_board_container {
    gap: calc(20rem / 16);
  }
}
@media (min-width: 768px) {
  .game_board_container {
    gap: calc(126rem / 16);
  }
}
@media (min-width: 1440px) {
  .game_board_container {
    gap: calc(84rem / 16);
  }
}