.game_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.game_button_mobile {

}
.game_buttons_other_dev {
  display: none;
}
@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {}
@media (min-width: 768px) {
  .game_header_container {
    width: calc(688rem / 16);
  }
  .game_button_mobile {
    display: none;
  }
  .game_buttons_other_dev {
    display: flex;
    gap: calc(16rem/16);
  }
}
@media (min-width: 1440px) {}