.container_dark {
  background: var(--color_5);
  height: 100vh;
  width: 100vw;
}

.container_light {
  background: var(--color_4);
  height: 100vh;
  width: 100vw;
  padding: calc(24rem / 16);
}

@media (orientation: landscape) and (min-width: 320px) and (max-width: 767px) {
  .container_dark {
    background: var(--color_5);
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container_light {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1440px) {
}
